<div class="waterfall" style="margin: 0; padding: 5px;">

<h1>Voda</h1>

<p>
Život nám dala,<br>
smí ho i vzít,<br>
i když je stará,<br>
stále smí žít.<br>
</p>
<p>
Ona je déjà vu,<br>
ona je krutá,<br>
je hojnost potravy,<br>
nepovšimnutá.<br>
</p>
<p>
Obyčejná jak sůl a chleba,<br>
smutně a potichu pluje s časem,<br>
loďku i parník jemně kolébá,<br>
ovládnout ji je marným zápasem.<br>
</p>
<p>
Čas ji změnil,<br>
jako nás,<br>
příboj nás chránil,<br>
i lámal vaz.<br>
</p>
<p>
Piráti brázdili její vlny,<br>
nemohli bez ní žít,<br>
nedostatek byl smrtelný,<br>
a každý ji chtěl mít.<br>
</p>
<p>
Karel Hynek Mácha
</p>
</div>